.flex-row{
	box-sizing: border-box;
	display: flex;
	
}

.flex-row-wrap{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	
}
.flex-row-centered{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
.flex-row-centered-wrap{
    box-sizing: border-box;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-column{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    
}


.flex-column-centered{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;	
    justify-content: center;
    align-items: center;
}